@page "/urediHodogram/{id:int}"

@using ZiblinWebb.Models
@using ZiblinWebb.Data
@using Blazored.Typeahead
@inject NavigationManager NavigationManager


<h3>UREDI HODOGRAM </h3>
<p> Unesite podatke o hodogramu </p>
<hr />

<BlazoredTypeahead SearchMethod="AutoSearch" @bind-Value="SelectedKlijent">

    <SelectedTemplate>
        @context.NazivSalona
    </SelectedTemplate>
    <ResultTemplate>
        @context.NazivSalona (@context.Id)
    </ResultTemplate>
    <NotFoundTemplate>
        Nema klijenata sa tim nazivom !!!
    </NotFoundTemplate>

</BlazoredTypeahead>

<br />

<div class="form-group row">
    <label for="date" class="col-sm-2 col-form-label">Datum:</label>
    <input type="date" @bind-value="@hodogram.Datum" />
</div>

<div class="form-group row">
    <label for="txtOstaliBrendovi" class="col-sm-2 col-form-label">Ostali brendovi:</label>
    <input type="text" @bind-value="hodogram.OstaliBrendovi" />
</div>

<div class="form-group row">
    <label for="txtZainteresirani" class="col-sm-2 col-form-label">Zainteresirani za proizvode:</label>
    <input type="text" @bind-value="@hodogram.ZainteresiraniZaProizvode" />
</div>

<div class="checkbox checkbox-primary" id="@OstavljeneBrosure">
    <label><input type="checkbox" @bind-value="hodogram.OstavljeneBrosure" /><b> Ostavljene brošure</b></label>
</div>
<div class="form-group row">
    <label for="txtBrosureNijanseri" class="col-sm-2 col-form-label">Brošure nijanseri:</label>
    <input type="text" @bind-value="@hodogram.BrosureNijanseri" />
</div>

<div class="checkbox checkbox-primary" id="@Prezentacija">
    <label><input type="checkbox" @bind-value="hodogram.KratkaPrezentacija" /><b> Prezentacija</b></label>
</div>
<div class="form-group row">
    <label for="txtOpisPrezentacije" class="col-sm-2 col-form-label">Kratki opis prezetacije:</label>
    <textarea rows="7" cols="40" @bind="hodogram.OpisPrezentacije"></textarea>
</div>

<div class="form-group row">
    <label for="txtNapomene" class="col-sm-2 col-form-label">Napomene:</label>
    <textarea rows="7" cols="40" @bind="hodogram.Napomene"></textarea>
</div>

<div class="form-group row">
    <label for="txtZakljucak" class="col-sm-2 col-form-label">Zaključak:</label>
    <textarea rows="7" cols="40" @bind="hodogram.Zakljucak"></textarea>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary" @onclick="Izmjeni">Izmjeni</button>
</div>


@code {

    [Parameter]
    public int id { get; set; }

    private string Trazilica { get; set; } = "";
    private string date = DateTime.Now.ToString("dd-MM-yyyy");

    private Hodogrami hodogram;
    private Klijenti SelectedKlijent;
    private AspNetUsers User = new AspNetUsers();
    private HodogramiService hodogramiService = new HodogramiService();
    private KlijentiService klijentiService = new KlijentiService();
    private List<Klijenti> klijenti = new List<Klijenti>();

    protected override void OnInitialized()
    {
        hodogram = new Hodogrami();
        hodogram = hodogramiService.DohvatiHodogramPoId(id);
        klijenti = klijentiService.DohvatiSveKlijente();
        date = DateTime.Now.ToString("dd-MM-yyyy");
        hodogram.UserId = User.Id;
    }

    private async Task<IEnumerable<Klijenti>> AutoSearch(string searchKlijent)
    {
        return await Task.FromResult(klijenti.Where(x => x.NazivSalona.ToLower().Contains(searchKlijent.ToLower())).ToList());
    }

    protected async Task Izmjeni()
    {
        hodogramiService.UpdateHodograma(hodogram);
        NavigationManager.NavigateTo("/sviHodogrami");
    }

    public bool Prezentacija
    {
        get => hodogram.KratkaPrezentacija;
        set
        {
            hodogram.KratkaPrezentacija = Prezentacija;
        }
    }

    public bool OstavljeneBrosure
    {
        get => hodogram.OstavljeneBrosure;
        set
        {
            hodogram.OstavljeneBrosure = OstavljeneBrosure;
        }
    }



















}
